/* Font size */
.text-xs { font-size: 12px; }
.text-sm { font-size: 14px; }
.text-md { font-size: 16px; }
.text-lg { font-size: 20px; }
.text-xl { font-size: 24px; }

/* Font weight */
.font-normal { font-weight: normal; }
.font-bold { font-weight: bold; }

/* Text alignment */
.text-center { text-align: center; }
.text-left { text-align: left; }
.text-right { text-align: right; }

/* Border utilities */
.border {
    border: 1px solid ;
  }
  
  /* Border radius */
  .rounded-sm { border-radius: 4px; }
  .rounded-md { border-radius: 8px; }
  .rounded-lg { border-radius: 16px; }
  